* {
  /* border: 2px solid blue; */
  margin: 0;
  padding: 0;
  length: 100%;
  font-family: Monaco; sans serif;
  font-weight: 600;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.8em;
  margin-top: 1%;
}

.main-container {
  width: 74%;
  background-color: #a1aec4;
  height: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

h2, h4 {
  margin: 4% 2%;
}

.whole-page {
  display: flex;
  flex-direction: row;
  length: 100%;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.aside-diff-layout {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  width: 22vw;
  height: auto;
  background-image: url(assets/shell.png);
  background-size: 9.3vw;
  background-repeat: repeat;
  background-color: black;
  padding-top: 8%;
}

.easy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  width: 22vw;
  height: auto;
  background-color: #97aac9;
  padding-top: 8%;
}

.choose-game-btn-section {
  margin-top: 0;
  height: 67vh;
  background-color: #a1aec4;
}

.classic-btn {
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 0.5em;
  width: 15vw;
  height: 15.6vh;
  color: white;
  cursor: pointer;
  background-color: rebeccaPurple;
}

.difficult-btn {
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 0.5em;
  width: 20vw;
  height: 20.6vh;
  color: white;
  cursor: pointer;
  background-color: rebeccaPurple;
}

.change-game-btn {
  width: 9vw;
  height: 9vh;
  border-radius: 0.5em;
  background-color: rebeccaPurple;
  color: white;
  font-size: 20px;
}

.choose-game-btn-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 55vw;
  height: 60vh;
}

.choose-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69vh;
}

.classic-game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.difficult-game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 67vh;
}

.icon {
  font-size: 3em;
}

img {
  width: 12vw;
  height: 17vh;
  padding-top: 20vh;
  padding-bottom: 24vh;
}

img:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:32px;'><text y='50%'>🧠</text></svg>") 16 0,auto;
}

.diff {
  /* height: 32vh; */
}

.paper {
  padding-left: 5vw;
  padding-right: 5vw;
}

.top-row-classic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 28vh;
  box-sizing: border-box;
}

.top-row-diff {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15vh;
  height: 10vh;
  box-sizing: border-box;
}

.bottom-row-diff {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  height: 20vh;
}


.ninja-star {
  padding-right: 15vw;
  height: 10vh;
  margin-bottom: 80vh;
}

.microphone {
  padding-left: 15vw;
  height: 10vh;
  margin-bottom: 80vh;
}

.rockIcon,
.paperIcon,
.scissorsIcon {

}

.hidden {
  display: none;
}
