* {
  /* border: 2px solid blue; */
  margin: 0;
  padding: 0;
  length: 100%;
  font-family: Monaco; sans serif;
  font-weight: 600;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.8em;
  margin-top: 2%;
}

.main-container {
  width: 74%;
  background-color: #a1aec4;
  height: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

h2, h4 {
  margin: 4% 2%;
}

.choose-area {
  margin-top: 0;
  height: auto;
  background-color: #a1aec4;
}

.choose {
  /* margin-top: 2%; */
}

.game-area {
  display: flex;
  flex-direction: column;
  width: 61vw;
  height: auto;
}

.whole-page {
  display: flex;
  flex-direction: row;
  length: 100%;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}

.human,
.computer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  width: 22vw;
  height: auto;
  background-color: #97aac9;
  padding-top: 8%;
}

.change-game-btn {
  width: 9vw;
  height: 9vh;
  background-color: rebeccaPurple;
  color: white;
  font-size: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15vw;
  height: auto;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 0.2em;
}

.icon {
  font-size: 3em;
}

.classic-btn {
  width: 23vw;
  height: 21.6vh;
  margin-left: 31.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  padding: 5%;
  color: white;
  background-color: rebeccaPurple;
}

.difficult-btn {
  padding-top: 3%;
  margin-top: 5%;
  width: 23vw;
  height: 33.6vh;
  margin-left: 31.5%;
  margin-bottom: 3vh;
  color: white;
  background-color: rebeccaPurple;
}


img {
  width: 12vw;
  height: 28vh;
  padding-top: 20vh;
  padding-bottom: 24vh;
}

img:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:32px;'><text y='50%'>🧠</text></svg>") 16 0,auto;
}

.paper {
  padding-left: 5vw;
  padding-right: 5vw;
}

.top-row-classic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15vh;
  padding-top: 0vh;
  height: 28vh;
}

.top-row-difficult {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15vh;
  height: 10vh;
  /* border: 2px solid blue; */
}

.bottom-row-difficult {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 7vh;
  height: 20vh;
  /* border: 2px solid blue; */
}

.diff {
  height: 32vh;
}

.ninja-star,
.microphone {
  padding-left: 15vw;
  padding-right: 5vw;
  height: 10vh;
  margin-bottom: 80vh;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.rockIcon,
.paperIcon,
.scissorsIcon {

}

.hidden {
  display: none;
}
